{% extends "base.html" %}
{% load humanize %}
{% block main %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endfor %}
<div class="d-flex">
    <h2>結果</h2>
{% if new_text %}
<strong class="p-2 ml-4">
    <h5>{{ new_text|floatformat|intcomma}}円</h5>
</strong>
{% endif %}
</div>
<div class="container mt-2">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="submit" value="計算" class="btn btn-info" />
        </div>
    </form>
</div>
{% endblock %}
